@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

#root{
    height: 100%;
}

body{
    height: 100%;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.showcaseHeader{
    font-family: 'Antonio', sans-serif;
}

.textStroke{
    color: black;
        -webkit-text-fill-color: white;
        /* Will override color (regardless of order) */
        -webkit-text-stroke: 3px black;
}