@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

#root{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
        scroll-behavior: smooth;
}

.showcaseHeader{
    font-family: 'Antonio', sans-serif;
}

.textStroke{
        color:black;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 3px #2e9cd7;
}

.bkgGradientDark{
    background: linear-gradient(177.9deg, rgb(15, 16, 22) 30.6%, rgb(34, 37, 43) 105.8%);
}

.bkgGradientLight{
    background: linear-gradient(177.9deg, rgb(247, 247, 251) 30.6%, rgb(230, 233, 237) 105.8%);
}

input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"]{
    -moz-appearance: textfield;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
    border: 1px solid transparent;
    /* -webkit-text-fill-color: initial; */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    /* caret-color: white; */
}